services:
  neo4j:
    image: neo4j:2025.10.1-enterprise-bullseye
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/qwertyui
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
    volumes:
      - ./neo4j_data:/data

  postgres:
    # Official Postgres image from DockerHub (we use the last version)
    image: "postgres:18.1"
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=AtvarsViola
      - POSTGRES_PASSWORD=AtvarsViola
      - POSTGRES_DB=TaleMachine
    volumes:
      - ${PWD}/postgres_data/:/var/lib/postgresql/

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 15433:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=atvars.apinis@student.howest.be
      - PGADMIN_DEFAULT_PASSWORD=AtvarsViola
    user: "$UID:$GID"
    depends_on:
      - postgres
    volumes:
      - ${PWD}/pgadmin_data/:/var/lib/pgadmin/
