services:
  neo4j:
    image: neo4j:2025.10.1-enterprise-bullseye
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
      - NEO4J_AUTH=neo4j/qwertyui
    healthcheck:
      test: wget http://localhost:7474 || exit 1
      interval: 1s
      timeout: 10s
      retries: 20
      start_period: 3s
    volumes:
      - ./docker_service_data/neo4j_data:/data

  postgres:
    # Official Postgres image from DockerHub (we use the last version)
    image: "postgres:18.1"
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=AtvarsViola
      - POSTGRES_PASSWORD=AtvarsViola
      - POSTGRES_DB=TaleMachine
    volumes:
      - ./docker_service_data/postgres_data/:/var/lib/postgresql/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "TaleMachine", "-U", "AtvarsViola"]
      interval: 10s
      timeout: 60s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 15433:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=atvars.apinis@student.howest.be
      - PGADMIN_DEFAULT_PASSWORD=AtvarsViola
    user: "$UID:$GID"
    depends_on:
      - postgres
    volumes:
      - ./docker_service_data/pgadmin_data/:/var/lib/pgadmin/

  backend:
    build: ./backend
    ports:
      - "7890:7890"
    env_file:
      - ./backend/.env
    depends_on:
      postgres:
        condition: service_healthy
      neo4j:
        condition: service_healthy

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules  # Ensure node_modules is not overwritten

  mcp-server:
    build: ./backend
    command: python mcp_server.py
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      postgres:
        condition: service_healthy
      neo4j:
        condition: service_healthy
